Repository hapijs/hapi, pull requests merged in 2022-12, with the labels that each got.

#4396 Fix handling of no remoteAddress available
  lib/request.js
  test/request.js
Labels: bug

#4403 Replace deprecated `.abort()` with `.destroy()`
  test/core.js
  test/payload.js
  test/request.js
  test/transmit.js
Labels: test

#4404 Remove podium event source from docs
  API.md
Labels: documentation

#4400 Enhance plugin types
  API.md
  lib/server.js
  lib/types/index.d.ts
  lib/types/plugin.d.ts
  lib/types/request.d.ts
  lib/types/response.d.ts
  lib/types/route.d.ts
  lib/types/server/auth.d.ts
  lib/types/server/cache.d.ts
  lib/types/server/events.d.ts
  lib/types/server/inject.d.ts
  lib/types/server/methods.d.ts
  lib/types/server/options.d.ts
  lib/types/server/server.d.ts
  lib/types/server/state.d.ts
  lib/types/utils.d.ts
  package.json
  test/types/index.ts
Labels: feature, types
