Repository hapijs/hapi, pull requests merged in 2025-03, with the labels that each got.

#4545 feat: add support for cookie partition
  API.md
  package.json
  test/state.js
Labels: feature

#4543 Update event tags in documentation
  API.md
Labels: documentation

#4515 fix: 🐛 allow typed server methods access cache methods
  lib/types/server/methods.d.ts
  test/types/index.ts
Labels: types

#4540 fix: 🐛 less ambigious plugin types
  lib/types/plugin.d.ts
Labels: types

#4523 fix: 🐛 accurate auth typings
  lib/types/request.d.ts
  lib/types/response.d.ts
  test/types/index.ts
Labels: types
